aeon==0.11.1
importlib_resources==6.4.5
matplotlib==3.9.2
numpy==1.26.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
scikit-learn==1.5.2
scipy==1.12.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.66.5
